<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css"
    />
    <link rel="stylesheet" href="../static/css/elm.css" />
  </head>
  <body>
  <nav th:fragment="nav"><!-- 導覽列 -->
    <nav>
      <a id="logo_area" href="">
        <div class="img_con">
          <img src="https://picsum.photos/100" alt="" />
        </div>
        <div class="vertical-line"></div>
        <h3>鄰星嗨嗨</h3>
      </a>

      <ul>
        <li><a href="">行程預定</a></li>
        <li><a href="">房型價格</a></li>
        <li><a href="">活動預約</a></li>
        <li><a href="">商城</a></li>
        <li><a href="">討論區</a></li>
        <li><a href="">公告</a></li>
        <!-- <li style="color: chocolate; font-size: 1.75rem">小吳, 您好</li> -->
        <!-- 平常隱藏，登入時才打開 -->
      </ul>

      <button class="hamburger hamburger--collapse" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>

        <div class="ham_list showList">
          <a href="https://www.yahoo.com.tw" target="_blank">註冊會員</a>
          <a href="https://www.yahoo.com.tw" target="_blank">會員登入</a>
          <a href="https://www.yahoo.com.tw" target="_blank">會員中心</a>
          <!-- <a href="https://www.yahoo.com.tw" target="_blank">登出</a> -->
        </div>
      </button>
    </nav>

    <div style="height: 1000px"></div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>

    <script>
      const ham_list = document.querySelector(".ham_list");
      const nav = document.querySelector("nav");

      //漢堡選單控制
      document
        .querySelector(".hamburger")
        .addEventListener("click", function () {
          this.classList.toggle("is-active");
        });

      ham_list.addEventListener("click", function (e) {
        e.stopPropagation();
      });

      $(".hamburger").on("click", function () {
        $(".ham_list").toggleClass("showList");
      });

      // 監控滾輪事件，讓導覽列變透明
      window.addEventListener("scroll", (e) => {
        if (this.scrollY !== 0) {
          nav.style.backgroundColor = "rgba(173, 216, 230, 0.8)";
          nav.style.boxShadow = "0px 8px 10px lightgray";
        } else {
          nav.style.backgroundColor = "lightblue";
          nav.style.boxShadow = "none";
        }
      });
    </script>
  </body>
</html>
